.container-univers-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:white;
}
.container-univers-page h1 {
    margin: 0 300px;
}
@media screen and (max-width: 1300px) {
    .container-univers-page h1 {
        margin: 0 0;
    }
}

@media screen and (max-width: 800px){
    .container-univers-page img{
        width: 90vw;
    }
    .container-univers-page h1 {
        margin: 0 30px;
        margin-bottom: 100px;
    }
}